notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/701b0f5880de327bbfe7
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
language: node_js
sudo: false
node_js:
  - "0.12"
  - "1"
  - "2"
  - "3"
  - "4"
  - "5"