#chat_messages, #chat_post {
    height: 100%;
    width: 100%;
}

#chat_post {
    height: 50px;
    margin-top: 20px;
}

.message-author {
    color: #b94a48;
}

.message-text {
    color: #363636;
}

.message-time {
    color: #888888;
}