.message-item {
    text-align: left;
    margin-bottom: 10px;
}

.message-author, .message-time {
    margin-right: 5px;
}

.message-items {
    overflow-x: scroll;
    height: 300px;
}

.message-author {
    color: #b94a48;
}

.message-text {
    color: #363636;
}

.message-time {
    color: #888888;
}

.message-post-form {
    margin-top: 10px;
    width: 100%;
}

.message-post-form input[type="text"] {
    width: 100%;
}

.message-post-form input[type="submit"] {
    width: 10%;
}