<title>First title</title>
<base href="someLink1" target="_parent">
<style type="text/css">some styles1</style>
<style type="text/css">some styles2</style>
<script type="application/javascript">some scripts1</script>
<script type="application/javascript">some scripts2</script>
<script type="application/javascript" src="someScriptSrc1"></script>
<script type="application/javascript" src="someScriptSrc2"></script>
<link rel="stylesheet" href="someStyleLink1">
<link rel="stylesheet" href="someStyleLink2">
<meta name="name1" content="value1">
<meta name="name2" content="value2">
<meta name="name3" content="value3">
